# Projeto I Análise de Dados
## Mariana Pereira e Ruhan Garatini

Este notebook tem como objetivo realizar a análise completa da base proposta
utilizando a base de dados `03_desempenho_estudantil.csv`.

## Desempenho Estudantil

### Descrição geral:
Contém dados educacionais sobre hábitos, rotinas, apoio familiar e fatores ambientais que ifluenciam o desempenho acadêmico dos estudantes.

### Desafios de análise:
- Avaliar a influência de sono, motivação e atividades extracurriculares.
- Verificar o impacto do nível socioeconômico.
- Identificar padrões de sucesso escolar.

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from math import sqrt
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score

In [26]:
from google.colab import drive
drive.mount('/content/drive')

df = pd.read_csv("/content/drive/MyDrive/DataScience-2025/03_desempenho_estudantil.csv", sep=',')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## 1. Análise Inicial da Base

#### 1.1 Tema e Contexto Empresarial
A base apresenta dados sobre o desempenho dos estudantes em conjunto a dados que podem estar relacionados a ele, dessa forma, é possível analisar e levantar hipóteses sobre estatísticas que podem afetar de forma positiva ou negativa o desempenho de um aluno.

#### 1.2 Dicionário de dados traduzido:
- Hours_Studied: Horas de estudo semanais.
- Attendance: Frequência (%) nas aulas.
- Parental_Involvement: Envolvimento dos pais (Baixo, Médio, Alto).
- Access_to_Resources: Acesso a recursos educacionais (Baixo, Médio, Alto).
- Extracurricular_Activities: Participação em atividades extracurriculares (Sim, Não).
- Sleep_Hours: Horas de sono por noite.
- Previous_Scores: Desempenho anterior.
- Motivation_Level: Motivação do aluno (Baixa, Média, Alta).
- Internet_Access: Acesso à internet (Sim, Não).
- Tutoring_Sessions: Sessões de reforço por mês.
- Family_Income: Renda familiar (Baixa, Média, Alta).
- Teacher_Quality: Qualidade dos professores (Baixa, Média, Alta).
- School_Type: Tipo de escola (Pública, Privada).
- Peer_Influence: Influência dos colegas (Positiva, Neutra, Negativa).
- Physical_Activity: Atividade física semanal (horas).
- Learning_Disabilities: Dificuldades de aprendizagem (Sim, Não).
- Parental_Education_Level: Escolaridade dos pais (Ensino Médio, Superior, Pós).
- Distance_from_Home: Distância de casa para a escola.
- Gender: Gênero.
- Exam_Score: Nota final no exame

#### Número de registros: 6607

#### 1.3 Quantidade de dados nulos em cada variável

In [27]:
print(f'As variáveis com mais dados faltantes, em porcentagem (%), são:\n')
((df.isnull().sum() / df.shape[0])*100).sort_values(ascending=False)

As variáveis com mais dados faltantes, em porcentagem (%), são:

Parental_Education_Level      1.362192
Teacher_Quality               1.180566
Distance_from_Home            1.014076
Hours_Studied                 0.000000
Access_to_Resources           0.000000
Parental_Involvement          0.000000
Attendance                    0.000000
Extracurricular_Activities    0.000000
Motivation_Level              0.000000
Internet_Access               0.000000
Previous_Scores               0.000000
Sleep_Hours                   0.000000
Family_Income                 0.000000
Tutoring_Sessions             0.000000
School_Type                   0.000000
Peer_Influence                0.000000
Learning_Disabilities         0.000000
Physical_Activity             0.000000
Gender                        0.000000
Exam_Score                    0.000000
dtype: float64

#### 1.4 Removendo os nulos

In [28]:
#Remover dados nulos
df.dropna(inplace=True)

print(f'As variáveis com mais dados faltantes após alteração, em porcentagem (%), são:\n')
((df.isnull().sum() / df.shape[0])*100).sort_values(ascending=False)

As variáveis com mais dados faltantes após alteração, em porcentagem (%), são:

Hours_Studied                 0.0
Attendance                    0.0
Parental_Involvement          0.0
Access_to_Resources           0.0
Extracurricular_Activities    0.0
Sleep_Hours                   0.0
Previous_Scores               0.0
Motivation_Level              0.0
Internet_Access               0.0
Tutoring_Sessions             0.0
Family_Income                 0.0
Teacher_Quality               0.0
School_Type                   0.0
Peer_Influence                0.0
Physical_Activity             0.0
Learning_Disabilities         0.0
Parental_Education_Level      0.0
Distance_from_Home            0.0
Gender                        0.0
Exam_Score                    0.0
dtype: float64